@import './btn.css';
@import './input.css';
@import './label.css';
@import './page.css';
@import './checkbox.css';

.logo {
  background-image: url('../../images/lg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

*:focus {
  outline: none;
}

.dash {
  height: 1px;
  width: 100%;
  background: black;
}

.hoverPoniter:hover {
  cursor: pointer;
}

.collection-create-form_last-form-item {
  margin-bottom: 0;
}

.site-collapse-custom-collapse .site-collapse-custom-panel {
  background: #f7f7f7;
  border-radius: 2px;
  margin-bottom: 24px;
  border: 0px;
  overflow: hidden;
}